body{
  background-image: url("imgs/background.png");
  background-size: cover;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

main{
  position: center;

}

.container{
  background-size: cover;
}

#will{
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: auto;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  width: 500px;
  height: 500px;
  clip-path: inset(173px 50px 180px 50px);
}

#ssilva{
  top: -380px;
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: auto;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  width: 500px;
  height: 500px;
  clip-path: inset(211px 69px 214px 69px);
}

#linhazul{
  top: -1080px;
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: auto;
  background-size: cover;
  position: relative;
  width: 500px;
  height: 500px;
  clip-path: inset(498px 0px 0px 98px); 
}

footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  color: aqua;
  font-family: Arial, Helvetica, sans-serif;
}
